<h1>Reactive Forms</h1>

<form [formGroup]= "movieForm " (ngSubmit)="createMovies()">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="title" type="text" class="form-control" formControlName='title' >
       value: {{movieForm.value.title}}
       <div class="alert alert-danger" *ngIf="movieForm.get('title').invalid &&movieForm.get('title').touched" >
        <p *ngIf="movieForm.get('title').errors.required">Gerekli alan*</p>
        <p *ngIf="movieForm.get('title').errors.minlength">Minimum 5 karakter giriniz.*</p>
       </div>
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="description" class="form-control" formControlName='description'></textarea>
        <div class="alert alert-danger" *ngIf="movieForm.get('description').invalid &&movieForm.get('description').touched" >Gerekli alan*</div>
    </div>

    <div class="mb-3">
        <label for="imageUrl" class="form-label">ImageUrl</label>
        <input name="imageUrl" type="text" class="form-control" formControlName='imageUrl' >
        <div class="alert alert-danger" *ngIf="movieForm.get('imageUrl').invalid && movieForm.get('imageUrl').touched" >
            <p *ngIf="movieForm.get('imageUrl').errors.required">Gerekli alan*</p>
            <p *ngIf="movieForm.get('imageUrl').errors.wrongExtension">Resim uzantısı hatalı*</p>
           </div>
    </div>

    <div class="mb-3">
        <label for="categoryId" class="form-label">CategoryId</label>
        <select name="categoryId" class="form-select" formControlName='categoryId'>
            <option value="">Seçiniz</option>
            <option *ngFor="let c of categories" [value]='c.id' >{{c.name}}</option>
        </select>
        <div class="alert alert-danger" *ngIf="movieForm.get('categoryId').invalid && movieForm.get('categoryId').touched">Gerekli alan*</div>
    </div>

    <button [disabled]='movieForm.invalid' type="submit" class="btn btn-primary">Create</button>
    <button type="button" [disabled]='movieForm.invalid' (click)="clearForm()" class="btn btn-danger ms-1">Clear</button>

</form>

